<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <title>howorang's</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <!--[if IE]>
    <script src="../static/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>

        <h1>howorang.xyz</h1>
        <p class="slogan">Mój makroblog</p>

    </header>
    <div class="row-container">
        <nav class="entry-nav">
            <ul>
                <li><a href="#">22.04.2020</a>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">test1</a></li>
                    </ul>
                </li>
                <li><a href="#">21.04.2020</a>
                    <ul>
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">test1</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="entries">
            <article>
                <header>
                    <h2>Apple</h2>
                    <p>Opublikowano:
                        <time pubdate="pubdate">2009-10-09</time>
                    </p>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque
                    sed,
                    lacinia
                    in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque
                    semper
                    justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed
                    posuere
                    libero
                    dui id orci. </p>
                <p>Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                    Etiam
                    sit
                    amet
                    lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae
                    consectetuer
                    consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis
                    augue.
                    Cras
                    suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.</p>


                <footer>
                    <p><small>autor: howorang</small></p>
                </footer>
            </article>

            <article>
                <header>
                    <h2>Lenovo</h2>
                    <p>Opublikowano:
                        <time pubdate="pubdate">2009-10-09</time>
                    </p>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque
                    sed,
                    lacinia
                    in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque
                    semper
                    justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed
                    posuere
                    libero
                    dui id orci. </p>
                <p>Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                    Etiam
                    sit
                    amet
                    lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare, ante vitae
                    consectetuer
                    consequat, purus sapien ultricies dolor, et mollis pede metus eget nisi. Praesent sodales velit quis
                    augue.
                    Cras
                    suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in interdum massa nibh nec erat.</p>


                <footer>
                    <p><small>autor: howorang</small></p>
                </footer>
            </article>
        </div>
    </div>
</div>
</body>
</html>